/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap");

/* google fonts */

/* common style */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* common style end*/

/* ===TOp Banner Area Design Start===  */

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  border-radius: 30px;
}

/* bg animation */

.top-banner-area {
  width: 1080px;
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 245, 167, 1) 11.2%,
    rgba(9, 111, 224, 1) 91.1%
  );
  overflow: hidden;
  background-size: 400% 400%;
  animation: gradient-bg 10s ease infinite;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: linear-gradient(
    90deg,
    #5cedc0 0%,
    rgba(240, 240, 54, 0.79) 30%,
    rgba(0, 255, 0, 0.44) 90%
  );
}
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* background animation end */
.top-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6px 0;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
}
.banner-detail {
  width: 100%;

  margin-left: 50px;
}

.banner-detail h1 {
  text-shadow: -1px -2px 2px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
}
.banner-detail p {
  color: #ffffff;
  width: 506px;
  height: 78px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.button a {
  outline: none;
  text-decoration: none;
  color: #005aa7;
  background-color: #ffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.button a:hover {
  background-color: #085780;
  color: white;
  transition: all 0.2s ease-in;
}

.banner-profile {
  width: 80%;
  margin-top: 35px;
}

/* banner section style end*/

/* menu bar style */

.details-area {
  width: 1080px;
}
.content-details {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column-gap: 30px;
}

.side-menu {
  display: flex;
  justify-content: center;
}

.menu {
  width: 270px;
  height: 343px;
  background: linear-gradient(60deg, #005aa7, #bbc1e0, #005aa7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.menu-bar {
  width: 252px;
  height: 64px;
  margin-bottom: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.menu-bar:hover {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  color: white;
  transition: all 0.2s ease-in;
}

.menu-bar:hover a {
  color: white;
}
#active {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
}

#active a {
  color: #ffffff;
}
.menu a {
  text-decoration: none;
  color: #161616;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

/* menu bar style end */

/* blog style */

.blogs-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 24px;
}

.blog {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  padding: 15px;
  border-radius: 8px;
}

.blog-image img {
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #005aa7;
  /* background: #005aa7; */
  color: #005aa7;
  border-radius: 3px;
}
.blog-details h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  padding: 6px;
  border-radius: 23px;
  width: 50px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #005aa7;
}

/* see more button design  */

.see-more {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.see-more-button {
  display: none;
}

.see a {
  outline: none;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #1d6ab0;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.see a:hover {
  background-color: #005aa7;
  color: white;
  transition: all 0.2s ease-in;
}

/* footer style here  */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.line-break {
  width: 30%;
  border-bottom: 1px solid #0093e9;
  margin-top: 30px;
  margin-bottom: 30px;
}

.others-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav a {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  width: 32px;
  height: 32px;
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 10px;
}

.social a:hover {
  background-color: red;
  transition: all 0.2s ease-in;
  color: white;
}

.social-icons {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-icons:hover {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#line-2 {
  width: 60%;
  border-bottom: 1px solid red;
  margin-top: 30px;
  margin-bottom: 30px;
}

.others-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav a {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
}

.footer-nav a:hover {
  color: royalblue;
}

.footer-nav::after {
  display: block;
  content: "";
  border-bottom: solid 3px royalblue;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.footer-nav:hover::after {
  transform: scaleX(0.9);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  width: 32px;
  height: 32px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 10px;
}

.social a:hover {
  background-color: red;
  transition: all 0.2s ease-in;
  color: white;
}

.social-icons {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-icons:hover {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* responsive for mobile device */

@media only screen and (max-width: 668px) {
  body {
    cursor: pointer;
  }
  .header {
    margin-top: -60px;
  }

  .banner-details {
    width: 100%;
    margin-left: 0px;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
  }

  .top-banner-area {
    padding: 0px;
    margin: 0;
  }

  .banner-details p {
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  .banner-profile img {
    width: 100%;
  }

  .top-banner {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .blogs-item {
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog {
    padding: 0;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rating {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .content-details {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column-gap: 30px;
    flex-direction: column;
  }

  .menu {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
      rgb(0 0 0 / 30%) 0px 18px 36px -18px;
  }

  .others-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* View All Button Disable In Mobile Screen*/
  .see-more {
    /* display: none; */
  }
}
